@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #1a1e1f;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

@media (max-width: 800px) {
  .main-courses-images-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 712px) {
  .main-description-section-title {
    font-size: 22px;
    line-height: 32px;
  }
  .header-nav-container {
    margin: 0 auto;
  }
  .header-nav li a {
    font-size: 16px;
  }
  .main-intro-section-title-container {
    text-align: left;
  }

  .main-intro-section-title-subtitle {
    font-size: 26px;
    margin-top: 6px;
  }
  .main-descr-section-par-container,
  .main-courses-section {
    text-align: left;
  }

  .main-courses-section-title {
    padding: 0px 0px 40px 0px;
  }

  .main-courses-images-container {
    grid-template-columns: 1fr;
  }

  .main-courses-each-image-container {
    width: 100%;
  }

  .main-courses-images-inner-container-title {
    font-size: 26px;
  }

  .main-courses-images-inner-container-subtitle {
    margin-top: 20px;
    font-size: 18px;
  }

  .main-courses-images-inner-container-course-details {
    justify-content: left;
  }

  .main-courses-images-inner-container-course-details {
    margin-top: 60px;
  }

  .course-details {
    font-size: 20px;
  }

  .main-courses-image {
    width: 100%;
  }
}
