@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@400;800&display=swap");

/* Reset CSS*/

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Noto Sans Georgian", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* Header */

header {
  background-color: #1a1e1f;
  transition: background-color 0.3s ease;
  position: sticky;
  top: 0;
  width: 100%;
}

.header-transparent {
  background-color: #1a1e1f;
}

.header-inner-container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  padding: 7px 20px;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-branding {
  font-size: 2rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 54px;
}

.nav-link {
  transition: 0.3s ease-out;
}

.nav-link:hover {
  color: dodgerblue;
}

.nav-item.active .nav-link {
  color: dodgerblue;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

/* Main hero section */

.main-hero-section {
  background-image: url("../assets/images/hero/hero-section-wallpaper.webp");
  width: 100%;
  min-height: 352px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.main-inner-hero-section {
  max-width: 1024px;
  padding: 0px 20px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.main-inner-hero-section-title {
  font-size: 42px;
  font-weight: 700;
  color: white;
  cursor: default;
}

.main-inner-hero-section-subtitle {
  font-size: 34px;
  font-weight: 700;
  color: white;
  cursor: default;
}

/* Main description section */

.main-description-section {
  background-color: #2b2b2b;
}

.main-inner-description-section {
  max-width: 1024px;
  padding: 50px 20px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 40px;
}

.main-description-section-title {
  margin: 0 auto;
  font-size: 24px;
  color: white;
  cursor: default;
  line-height: 42px;
}

.main-description-section-btn {
  color: dodgerblue;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

.main-description-section-btn:hover {
  color: white;
  transition: 0.4s;
}

/* .. */

.main-courses-section {
  background-color: #161616;
}

.main-courses-inner-container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 20px;
}

.main-courses-section-title,
.main-sider-section-title {
  color: whitesmoke;
  font-size: 24px;
  padding: 0px 0px 70px 0px;
  cursor: default;
}

.main-courses-images-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, minmax(min(100%, 200px), 1fr));
}

.main-courses-each-image-container {
  border: 0.3px solid rgba(245, 245, 245, 0.334);
  width: auto;
  border-radius: 5px;
}

.main-courses-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.main-courses-images-inner-container {
  padding: 30px 22px 30px 22px;
}

.main-courses-images-inner-container-title {
  font-size: 18px;
  color: whitesmoke;
  cursor: default;
}

.main-courses-images-inner-container-subtitle {
  font-size: 15px;
  color: whitesmoke;
  cursor: default;
  margin-top: 30px;
}

.main-courses-images-inner-container-course-details {
  margin-top: 90px;
  display: flex;
  align-items: center;
}

.main-courses-images-inner-container-course-details-python {
  margin-top: 114px;
  display: flex;
  align-items: center;
}

.main-courses-images-inner-container-course-details-tot {
  margin-top: 134px;
  display: flex;
  align-items: center;
}

.main-courses-images-inner-container-course-details-blockchain {
  margin-top: 114px;
  display: flex;
  align-items: center;
}

.main-courses-images-inner-container-course-details-devops {
  margin-top: 114px;
  display: flex;
  align-items: center;
}

.course-details {
  font-size: 15px;
  color: #08a3e0;
  text-decoration: none;
  margin-left: 10px;
}

/* Slider */

.main-slider-section {
  background-color: #2b2b2b;
}

.main-slider-container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 55px 20px;
}

.display-area {
  max-width: 1024px;
  width: 100%;
  overflow-x: hidden;
  margin: auto;
  display: flex;
}

.dots-wrapper {
  display: flex;
  justify-content: center;
  margin: auto;
  margin: 20px 0px 0px 0px;
}

.dot {
  border: none;
  background: whitesmoke;
  width: 8px;
  height: 8px;
  margin: 6px;

  border-radius: 999px;
  outline: none;
}

.dot:hover,
.dot.active {
  background: whitesmoke;
  cursor: pointer;
}

.arrow {
  background: transparent;
  border: none;
  cursor: pointer;
}

/*  */

.main-accordion-section {
  background-color: #161616;
  padding: 80px 0px;
}

.main-accordion-container {
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
}

.main-accordion-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-accordion-title {
  font-size: 24px;
  color: whitesmoke;
  cursor: default;
}

.main-accordion-all-question {
  font-size: 20px;
  font-weight: 800;
  color: #08a3e0;
  cursor: pointer;
}

.main-accordion-all-question:hover {
  transition: 0.4s;
  color: #dbdbdb;
}

/* Accordion */

.accordion-container {
  width: 100%;
  max-width: 770px;
  margin-top: 20px;
}

.accordion-item {
  border-bottom: 0.5px solid rgba(245, 245, 245, 0.181);
  padding: 30px 0px 20px 0px;
}

.accordion-header {
  color: whitesmoke;
  font-size: 18px;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.accordion-content {
  padding: 20px 0px 0px 0px;
  color: whitesmoke;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
}

.accordion-content {
  font-size: 13px;
}

.accordion-paragraph {
  padding: 0px 20px;
  line-height: 30px;
}

.accordion-paragraph-special {
  padding-bottom: 20px;
  line-height: 26px;
}

.icon {
  transition: transform 0.3s ease;
}

.active .icon {
  transform: rotate(180deg);
}
