@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@400;800&display=swap");

/* Reset CSS*/

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Noto Sans Georgian", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* Header */

header {
  background-color: #1a1e1f;
  transition: background-color 0.3s ease;
  position: sticky;
  top: 0;
  width: 100%;
}

.header-inner-container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  padding: 7px 20px;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-branding {
  font-size: 2rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 54px;
}

.nav-link {
  transition: 0.3s ease-out;
}

.nav-link:hover {
  color: dodgerblue;
}

.nav-item.active .nav-link {
  color: dodgerblue;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

/* Main */

.main-hero-section {
  background-image: url("../assets/images/hero-section-wallpaper.webp");
  width: 100%;
  min-height: 352px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.main-inner-hero-section {
  max-width: 1024px;
  padding: 0px 20px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.main-inner-hero-section-title {
  font-size: 42px;
  font-weight: 700;
  color: white;
  cursor: default;
}

.main-inner-hero-section-subtitle {
  font-size: 34px;
  font-weight: 700;
  color: white;
  cursor: default;
}
